<p>Position: <%= @applicant.position %></p>
<p>First name: <%= @applicant.first_name %></p>
<p>Last name: <%= @applicant.last_name %></p>
<p>City: <%= @applicant.city %></p>
<p>Country: <%= @applicant.country %></p>
<p>Phone: <%= @applicant.phone %></p>
<p>Email: <%= @applicant.email %></p>
