<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.city %></p>
<p><%= @user.country %></p>
<p><%= @user.phone %></p>
<p><%= @user.email %></p>
<p><%= @user.company_name %></p>
<p><%= @user.website_url %></p>
<p><%= @user.question1 %></p>
<p><%= @user.question2 %></p>
<p><%= @user.question3 %></p>
<p><%= @user.question4 %></p>
<p><%= @user.question5 %></p>
<p><%= @user.question6 %></p>
<p><%= @user.question7 %></p>
<p><%= @user.question8 %></p>